  <?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Default document rewrite" stopProcessing="true">
            <match url="^(.+/)?$" />
            <action type="Redirect" url="https://{HTTP_HOST}/index.html" />
          </rule>
        </rules>
      </rewrite>
      <handlers>
        <add name="StaticFiles_Js" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFiles_Css" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFiles_html" path="*.html" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFiles_Png" path="*.png" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="httpPlatformHandler" path="api" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
      </handlers>
      <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
          arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\springbackend-0.0.1-SNAPSHOT.jar&quot; --logging.file=\home\LogFiles\Application\logging.log ">
      </httpPlatform>
    </system.webServer>
  </configuration>

